<h3>Shopping Cart:</h3>
<ul>
  {{#each shoppingCart.items as |item|}}
    <li>{{item.name}} -- {{item.price}}</li>
    <button {{action 'remove' item}}>Remove from Cart</button>
  {{/each}}
  <h5>Total Price: {{total-price shoppingCart.items}}</h5>
</ul>

{{outlet}}

<!-- {{#link-to 'cart.cart-product' item.id}}<li>{{item.name}} - {{item.price}}</li>{{/link-to}} -->
